{{template "top" .}}

<div class="block">
  <div class="width">
    <h1>Lists of Estonian verbs</h1>

    <div class="words-table">
      <div class="words-row head">
        <div class="words-row-first">Estonian</div>
        <div class="words-row-last">English</div>
      </div>

      {{ range.words }}
      <div class="words-row">
        <div class="words-row-first">
          {{ .EstVerb  }}
        </div>
        <div class="words-row-last">
          {{ .EngVerb }}
        </div>
        <button id="soundButton">Click Me</button>
       <!--  <audio id="buttonSound" src="button-click.mp3"></audio> Path to your sound file -->
      </div>
      {{ end }}
    </div>
  </div>
</div>

{{template "bottom" .}}
